{% load contacts_and_people_tags %}
{% if node %}
    
    {% if not node.abstract_entity %}
        <li><a href="{{ node.get_absolute_url }}">
            {% ifequal person.home_entity node %}
                <strong>{{node}}</strong>
            {% else %}
                {{node}}
            {% endifequal %}
            </a>
        	{% if node.get_children %}
        	<ul>
        		{% for item in node.get_children %}
        			{% make_membership_tree item %}
        		{% endfor %}
        	</ul>
        	{% endif %}
        </li>
    {% else %}    
        {% if node.get_children %}
    		{% for item in node.get_children %}
    			{% make_membership_tree item %}
    		{% endfor %}
    	{% endif %}
    {% endif %}
{% endif %}	